.item_store_div {
  margin: 20px 10px;
  height: 300px;
  display: flex;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  overflow: scroll;
  transition: transform 0.3s;
}

.item_store_div:hover {
  transform: scale(1.02);
}

.item_store>h1 {
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  margin: 40px 10px 0;
}

.item_store_div img {
  width: 145px;
  margin-top: 25px;
}

.price_div {
  display: flex;
  margin-top: 8px;
}

.price_div p {
  font-size: 14px;
  color: #757575;
  margin: 0 5px;
}

.price_div p:nth-child(1),
.price_div p:nth-child(2) {
  text-decoration: line-through;
}

.price_div p:nth-child(3) {
  font-weight: 500;
  color: black;
}

#price_divplusp {
  color: #24a3b5;
  font-weight: 500;
}

.dis {
  font-size: 15px;
  color: #24a3b5;
  margin-top: 8px;
}

.Your_Gadgets_Store,
.trending_fashion_zone {
  display: flex;
  flex-wrap: wrap;
}

.Your_Gadgets_Store div,
.trending_fashion_zone div {
  width: 200px;
  margin: 10px;
  text-align: center;
}